@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Roboto+Mono&display=swap');

:root{
  --word-size: 25px;
  --other-size: 20px;
}

*{
  margin: 0;
  font-size: var(--word-size);
}

body{
  background-color: rgb(17, 17, 17);
  color: white;
}

#layout{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}

h1{
  font-family: 'Noto Sans Mono', monospace;
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

#duration{
  font-family: 'Noto Sans Mono', monospace;
  display: flex;
  justify-content: right;
  gap: 10px;
  margin: 15px;
}

.duration_button{
  border: none;
  color: rgb(100, 100, 100);
  background-color: rgb(41, 41, 41);
  font-size: 15px;
  border-radius: 3px;
}

#container_ID{
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  text-align: center;
  width: min-content;
  margin: 10px;
}

#wordsID{
  width: 50vw;
  height: calc(var(--word-size) * 3.4);
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 5px;
  border: none;
  background-color: rgb(41, 41, 41);
  border-radius: 3px;
}

#stats{
  font-family: 'Noto Sans Mono', monospace;
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin: 5px;
}

.stat_block{
  font-size: var(--other-size);
  justify-content: center;
  padding: 2px;
  display: flex;
  color: white;
  width: 33%;
  height: min-content;
  border-radius: 4px;
}

.stat_block p{
  font-size: var(--other-size);
}

#row2{
  margin: 5px;
}

#typingID{
  text-align: center;
  border: none;
  border-radius: 3px;
  width: min-content;
  align-items: center;
}

.button{
  cursor: pointer;
}

#restartID{
  margin-left: 9px;
  background-color: rgb(255, 109, 62);
  border-radius: 3px;
  border: none;
  color: white;
  width: min-content;
}

#wpm_div{
  background-color: rgb(182, 33, 255);
}

#wrongWords_div{
  background-color: rgb(242, 48, 89);
}

#timer_div{
  background-color: rgb(207, 216, 35);
  color: rgb(41, 41, 41);
}